*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.339);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.725);
    width: 350px;
    border-radius: 10px;
}

label{
    color: rgb(80, 79, 79);
    margin-left: 21%;
}

.container input,button{
    display: block;
    margin:auto;
    border: 1px solid rgba(0, 0, 0, 0.628);
    border-radius: 20px;
    background-color: transparent;
    height: 45px;
    width: 270px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.599);
    outline: none;
}

span{
    font-size: 28px;
    color: #0051ae;
}

input::placeholder{
    color: rgb(125, 117, 117);
}

#button{
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 194, 0.529);
}

#but2{
    height: 30px;
    padding: 7px;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.363);
}



h2{
    text-align: center;
    color: rgb(85, 85, 85);
}

h3{
    text-align: center;
}

.text,a{
    
    text-align: center;
    color: rgb(1, 1, 200);
    text-decoration: none;
}

.container h3{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.679);
}

.container h3 a{
    text-decoration: underline;
}


.footer{
    background-color: rgba(64, 64, 64, 0.63);
    text-align: center;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}


.videodiv{
    width: 100%;
    height: 95vh;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    display: flex;
    padding: 200px 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4));
    
}

.backvideo{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;   
    z-index: -1;
}


/* @media only screen and (max-width:500px){ 
    .form{
        margin-top: -5%;
    }
}

/* @media only screen and (max-width:400px){
    .form{
        margin-top: -15%;
    }
} */

/* @media only screen and (min-width:638px){
    .form{
        margin-top: -35%;
    }
}

@media only screen and (min-width:1000px){
    .form{
        margin-top: -15%;
    }
} */